.Main {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100vh - 60px);
    padding: 20px;
    overflow-y: auto;
}

.LogoutBtn {
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    z-index: 99;
}

.LogoutBtn button {
    font-size: 16px;
    font-weight: bold;
    font-family: inherit;
    padding: 6px 13px;
    cursor: pointer;
    color: #eee;
    margin-right: 5px;
    background-color: rgb(255, 160, 0);
    cursor: pointer;
    border: 5px solid rgb(245, 124, 0);
    border-radius: 15px;
    transition: background-color 0.2s;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
}
.LogoutBtn button:hover { background-color: rgb(251, 192, 45); }